/* Sección sobre mí */

.about-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 3.5rem;
    padding-top: 3.5rem;
    .left-about {
        margin: 0 auto;
        padding: 1rem;
        p {
            color: var(--grey-1-color);
            line-height: 1.5rem;
            margin: 1rem 0;
            padding: 0 5rem;
            text-align: justify;
        }
        .social {
            align-items: center;
            display: flex;
            justify-content: center;
            .icon {
                align-items: center;
                background-color: var(--secondary-color);
                border-radius: 50%;
                cursor: pointer;
                display: flex;
                height: 50px;
                justify-content: center;
                margin: 0 1rem;
                transition: var(--transition-1);
                width: 50px;
                i {
                    color: white;
                    font-size: 1.5rem;
                    margin: 0 auto;
                }
                &:hover {
                    background-color: var(--white-color);
                    i {
                        color: var(--primary-color);
                    }
                }
            }
        }
    }
    .right-about {
        display: grid;
        margin-right: 10rem;
        grid-gap: 2rem;
        grid-template-columns: 1fr 1fr;
        .about-item {
            margin: 0 auto;
            position: relative;
            img {
                border-radius: 20px;
                height: 13rem;
                object-fit: cover;
                padding: .1rem;
                width: 22rem;
            }
            .about-text {
                background-color: var(--primary-color);
                border-radius: 15px;
                display: flex;
                flex-direction: column;
                height: 13rem;
                left: 0;
                opacity: 0;
                padding: 1.5rem;
                position: absolute;
                top: 0;
                transform: scale(0);
                transition: var(--transition-1);
                width: 22rem;
                .large-text {
                    color: var(--secondary-color);
                    font-size: 3rem;
                    font-weight: 700;
                }
                .small-text {
                    color: var(--grey-1-color);
                    font-size: 1.2rem;
                    letter-spacing: 2px;
                    padding-left: 3rem;
                    position: relative;
                    text-transform: uppercase;
                    &::before {
                        background-color: var(--grey-5-color);
                        content: "";
                        height: 2px;
                        left: 0;
                        position: absolute;
                        top: 15px;
                        width: 2rem;
                    }
                }
            }
        }
    }
    .about-item:hover .about-text {
        border-radius: 15px;
        box-shadow: 1px 4px 15px rgba(0,0,0,.32);
        opacity: 1;
        transform: scale(1);
    }
}
