@media screen and (max-width: 1700px) {
    .header-content {
        .right-header {
            padding-right: 9rem;
            width: 55rem;
        }
    }

    .about-wrapper {
        grid-template-columns: 1fr;
        .right-about {
            grid-template-columns: 1fr 1fr;
            margin: 2rem auto;
            padding: 2rem 1rem;
        }
        .left-about {
            margin: 0 10rem;
            padding: 0;
        }
    }

    .projects {
        margin: 5rem 7rem 0 7rem;
        .projects-item {
            margin-top: 2rem;
            img {
                height: 13rem;
                width: 25rem;
                
            }
            .hover-items {
                height: 13rem;
                width: 25.5rem;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .header-content {
        .left-header {
            padding-left: 1rem;
        }
        .right-header {
           padding-left: 2rem;
           .name {
               font-size: 2.7rem;
           }
        }
    }

    .about-wrapper {
        .left-about {
            margin: 0 4rem;
        }
    }
}

@media screen and (max-width: 1000px) {
    .header-content {
        grid-template-columns: 1fr;
        padding-bottom: 7rem;
        .left-header {
            padding-left: 0;
            img {
                height: 13rem;
                width: 13rem;
            }
        }
        .right-header {
            grid-row: 1;
            justify-content: end;
            margin: 0 auto;
            padding: 0 !important;
            width: 90%;
            .name {
                font-size: 2.3rem;
            }
        }
    }

    .main-title {
        h2 {
            font-size: 3rem;
            .bg-text {
                font-size: 4rem;
            }
        }
    }

    .about-wrapper {
        .left-about {
            margin: 0 2rem;
            p {
                font-size: medium;
                text-align: left;
            }
        }
        .right-about {
            grid-template-columns: 1fr;
        }
    }

    .projects {
        margin: 5rem 5.3rem 0 5.3rem;
    }
}

@media screen and (orientation: portrait) and (max-width: 600px) {
    .light-theme {
        height: 50px;
        top: 3%;
        width: 50px;
    }

    .bar  {
        background-color: var(--primary-color);
        bottom: 0;
        flex-direction: row;
        justify-content: center;
        left: 50%;
        top: auto;
        transform: translateX(-50%);
        width: 100%;
        .control {
            margin: .5rem .3rem;
        }
    }

    section {
        min-height: 100vh;
        padding: 2rem 0 !important;
    }

    header {
        min-height: 100vh;
    }

    .header-content {
        padding: 0;
        .left-header {
            align-items: flex-start;
        }
        .right-header {
            justify-content: center;
           .name {
               font-size: 2rem;
               br {
                display: block;
               }
           }
        }
    }

    .main-title {
        h2 {
            font-size: 2.5rem;
            .bg-text {
                font-size: 3rem;
            }
        }
    }

    .about-wrapper {
        padding-bottom: 2rem;
        padding-top: 2rem;
        .left-about {
            p {
                padding: 0;
            }
        }
        .right-about {
            .about-item {
                width: 90%;
                img {
                    height: 13rem;
                    width: 100%;
                }
                .about-text {
                    height: 13rem;
                    width: 100%;
                }
            }
        }
    }

    .projects {
        margin: 4rem auto 2rem auto;
        .projects-item {
            margin-top: 1rem;
            width: 90%;
            img {
                height: 13rem;
                margin: 0 auto;
                width: 100%;
            }
            .hover-items {
                height: 13rem;
                width: 100%;
                h3 {
                    font-size: 1.3rem !important;
                }
            }
        }
    }

    .contact-content {
        padding-top: 2rem;
        .contact-form {
            min-width: 90%;
            .input-wrapper {
                margin: 0 auto;
            }
        }
    }

    footer {
        height: 90px;
        font-size: .75rem;
    }
}

@media screen and (max-width: 320px) {
    .main-title {
        h2 {
            font-size: 2rem;
            .bg-text {
                font-size: 2.5rem;
            }
        }
    }

    footer {
        font-size: .63rem;
    }
}

@media screen and (orientation: landscape) and (hover: none) and (pointer: coarse) and (max-width: 1000px) {
    .light-theme {
        display: none;
    }

    .bar  {
        bottom: 0;
        flex-direction: column;
        height: 100%;
        right: 1%;
        top: 52%;
        .control {
            margin: .3rem .1rem;
        }
    }

    footer {
        height: 25px;
    }
}

