/* Menú principal */

.bar {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    right: 3%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    .active-btn {
        background-position: left !important;
        
        i {
            color: white !important;
        }
    }
    .control {
        align-items: center;
        background: linear-gradient(to left, var(--grey-4-color) 50%, var(--secondary-color) 50%);
        background-position: right;
        background-size: 200%;
        border-radius: 50%;
        box-shadow: var(--primary-shadow);
        cursor: pointer;
        display: flex;
        height: 55px;
        justify-content: center;
        margin: .7rem 0;
        padding: 1rem;
        transition: background-position 0.5s ease-in-out;
        width: 55px;
        i {
            color: var(--grey-3-color);
            font-size: 1.2rem;
            pointer-events: none;
        }
        &:hover {
            background-color: var(--secondary-color);
            background-position: left;
            i {
                color: white;
            }
        }
    }
}

.light-theme {
    align-items: center;
    background-color: var(--grey-4-color);
    border-radius: 50%;
    box-shadow: var(--primary-shadow);
    cursor: pointer;
    display: flex;
    height: 55px;
    justify-content: center;
    position: fixed;
    right: 3%;
    top: 5%;
    width: 55px;
    z-index: 1;
    &:hover {
        background-color: var(--white-color);
    }
    i {
        color: var(--grey-3-color);
        font-size: 1.4rem;
        margin: 0 auto;
    }
}
